.search-container-user {
  padding-bottom: 2rem;
  margin: 0 1rem;
}

.my-recipes {
  text-align: center;
  margin: 1rem 10px;
}

.my-recipes h1 {
  margin-bottom: 1rem;
}

.row {
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  width: 100%;
}

.card-image {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card-body h1 {
  font-size: 1.4rem;
}

.card-image img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.search-title {
  margin: 2rem auto;
}
