.new-recipe-container {
  margin: 0 auto;
  width: 80%;
  transition: all 0.3s ease-in-out;
}

.new-recipe {
  margin: 1rem 10px;
  text-align: center;
}

.new-recipe h1 {
  margin-bottom: 1rem;
}

.new-recipe-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-input {
  padding: 14px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  outline: none;
  margin: 10px 0 0;
  flex: 1 0 70%;
  font-size: 16px;
}

.new-recipe-form button {
  padding: 14px;
  margin: 10px 0 0;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.new-recipe-form button:hover {
  background-color: #d1d1d1;
}

@media only screen and (max-width: 400px) {
  .new-recipe-container {
    width: 100%;
  }
}

.new-recipe-form p {
  display: none;
}

.invalid + p {
  color: #d95151;
  text-align: left;
  margin-top: 4px;
  display: inline;
}

.invalid {
  border: 1px solid #d95151;
}
