.recipe-detail-api {
  text-align: center;
  position: relative;
  margin-bottom: 1rem;
}

.recipe-detail-api h1 {
  text-align: center;
  position: absolute;
  top: 0;
  padding: 2rem 0;
  width: 100%;
  color: #000;
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease-in;
}

@media only screen and (max-width: 400px) {
  .recipe-detail-api h1 {
    font-size: 1.4rem;
    padding: 1rem 0;
  }
}

.recipe-detail-api h2 {
  margin: 1.6rem 10px 0.6rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin: 6px 10px 0;
}

.flex-container span {
  text-decoration: underline;
}

.img-detail {
  object-fit: cover;
  max-height: 400px;
  width: 100%;
}

.ingredients-instructions {
  text-align: left;
  width: 86%;
  padding: 1rem 0;
  margin: 0 auto;
  overflow-wrap: break-word;
}

.ingredients-instructions li {
  margin-bottom: 6px;
}

.ingredients-instructions ul,
.ingredients-instructions ol {
  margin: 0 10px;
}

.ingredients-instructions ol {
  margin-bottom: 1rem;
}

.ingredients-instructions a {
  color: var(--palette1);
  text-decoration: none;
}
