.favorites-container {
  margin: 0 1rem;
}

.my-favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-favorites h1 {
  margin: 1rem 0 2rem;
}

.favorited-recipe-container {
  transition: var(--transition);
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  width: 100%;
  border: 1px solid var(--grey2-field);
  margin-bottom: 1rem;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.favorited-recipe-container:hover .fav-heart {
  color: var(--palette1-saturated);
}

.favorited-recipe-container a {
  text-decoration: none;
  color: var(--grey5);
}

.favorited-recipe-container:hover {
  color: var(--black);
  box-shadow: 0 0.3rem 0.4rem rgb(0 0 0 / 20%);
}

.favorited-recipe-container button {
  border-radius: 4px;
  color: var(--grey5);
  outline: none;
  cursor: pointer;
  transition: var(--transition);
  text-decoration: none;
  background-color: var(--white);
  border: none;
  font-size: 1.2rem;
  z-index: 100;
}

.favorited-recipe-container button:hover {
  text-decoration: none;
  color: var(--black);
}

.favorite-title {
  display: flex;
  align-items: center;
}

.fav-heart {
  transition: var(--transition);
  font-size: 1.6rem;
  margin-right: 1rem;
}
