.row {
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  width: 100%;
}

.col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
  margin: 0 auto;
  justify-content: center;
}

.search-area {
  display: flex;
  justify-content: center;
  margin: 32px auto;
  max-width: 800px;
}

.search-area input {
  padding: 14px;
  border: 1px solid var(--grey2-field);
  border-radius: 4px;
  outline: none;
  margin: 0 10px 0 0;
  flex: 1 0 70%;
  font-size: 16px;
}

.search-area button {
  padding: 14px 20px;
  border-radius: 4px;
  border: 1px solid var(--palette1);
  background-color: var(--palette1);
  color: var(--white);
  cursor: pointer;
  flex: 1 0 25%;
  font-size: 16px;
  transition: var(--transition);
}

.search-area button:hover {
  border: 1px solid var(--palette1-dark);
  background-color: var(--palette1-dark);
}

.search-container {
  margin: 0 1rem;
}
