.add-button {
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: var(--white);
}

.fav-icon-btn {
  margin-right: 0.6rem;
}
.fav-btn-container {
  width: 86%;
  margin: 0 auto 2rem;
}
