footer {
  background-color: var(--palette4);
  color: var(--white);
  height: 60px;
  padding: 0.5rem calc((100vw - 1000px) / 2);
  z-index: 10;
  text-align: center;
  font-size: 0.9em;
}

footer a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  transition: var(--transition);
}

footer a:hover {
  color: var(--palette2);
}

footer p {
  margin-top: 8px;
}

.heart-footer {
  margin: 0 6px 0;
  font-size: 1.4em;
  color: var(--palette1-saturated);
}
