@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --palette1: rgba(231, 102, 102);
  --palette1-saturated: rgb(255, 73, 73);
  --palette1-dark: rgb(207, 75, 75);
  --palette2: rgba(240, 213, 130);
  --palette3: rgba(229, 164, 120);
  --palette4: rgb(94, 78, 78);
  --palette5: rgb(97, 98, 101);
  --white: rgb(255, 255, 255);
  --grey1: rgb(241 241 241);
  --grey2: #bfbfbf;
  --grey2-field: #d1d1d1;
  --grey3: #a6a6a6;
  --grey4: #8c8c8c;
  --grey5: #404040;
  --black: rgb(0, 0, 0);
  --transition: all 0.3s ease-in-out;

  --footer-gray: #393939;
  --searchbutton-gray: #d1d1d1;
  --navBar-black: #393939;
  --RecipediaText-white: #fff;
}

* {
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
